* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgba(134, 128, 124, 0.548);
    background-repeat: no-repeat;
}

.main {
    margin: auto;
    width: 50%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: red;
    font-family: 'Bree Serif', serif;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.heading{
    line-height: 50px;
    padding: 10px;
}

.assignment{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

/* img{
    height: 200px;
} */

.info{
    padding: 10px;
    background-color: rgb(158, 20, 20);
    height: 200px;
    background: rgb(158, 20, 20) url(./img/img.png) no-repeat right;
    background-size: contain;
}

.footer{
    padding: 10px 15px;
}
